.app{
    height: 100vh;
    .sections{
        width: 100%;
        height: calc(100vh - 80px);
        /*rgb(175, 175, 247);*/
        background-color: rgb(175, 175, 247);
        position: relative;
        top: 80px;
        scroll-behavior: smooth;

        scroll-snap-type: y mandatory;

       > *{
           width: 100vw;
           height: calc(100vh - 80px);
           scroll-snap-align: start;
       }
    }
}